@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(30 41 59);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.myShadow {
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.15));
}

.gotham {
  background: linear-gradient(
    to top,
    rgb(229, 231, 235),
    rgb(156, 163, 175),
    rgb(75, 85, 99)
  );
}

.myFont {
  font-family: "Press Start 2P", cursive;
}

.myFontOrbitron {
  font-family: "Orbitron", sans-serif;
}
